---
import '@mantine/core/styles.css';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  locale: string;
}

const { locale } = Astro.props;
---
<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
